aiofiles
aiogram
aiohttp
aiosignal
APScheduler
arrow
async-timeout
attrs
Babel
certifi
charset-normalizer
environs
frozenlist
idna
magic-filter
marshmallow
multidict
packaging
pydantic
PyMySQL
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
six
typing-extensions
tzdata
tzlocal
urllib3
yarl
betterlogging
qrcode-styled
lxml